@import '../../mixins/index';
@import '../../variables/index';

.card-warning {
	border-left: 4px solid wp-color(yellow-50);
}

.domain-status-list-table {
	th,td {
		&.status {
			width:60%;
			display:none;
			.spinner {
				float:none;
				margin:0;
			}
		}
	}
	&.has-status {
		th,td {
			&.status {
				display:table-cell;
			}
		}
	}
	.dashicons {
		&.error,
		&.warning,
		&.success,
		&.none {
			// font-size:24px;
			width:auto;
			height:auto;
		}
		&.error {
			color: wp-color(red-50);
		}
		&.warning {
			color: wp-color(yellow-50);
		}
		&.success {
			color: wp-color(green-50);
		}
		&.none {
			color: wp-color(gray-40);
		}
	}
	.status-error {

	}
}
.muba-result-list {
	display: flex;
	flex-wrap: wrap;
	li {
		display: flex;
		white-space: nowrap;
		overflow: hidden;
		grid-gap: 0.5em;
		flex-wrap: wrap;
		&.url-redirect {
			&.external-redirect {
				color: wp-color(gray-40);
			}
			&:after {
				font-family: dashicons;
				content: $dashicon-arrow-right;
				font-size: 20px;
			}
		}
	}
	.notice {
		flex-basis: 100%;
	}
}
