@import '../../mixins/index';
@import '../../variables/index';

.card-warning {
	border-left: 4px solid $wp-yellow;
}

.domain-status-list-table {
	th,td {
		&.status {
			width:40%;
			display:none;
			.spinner {
				float:none;
				margin:0;
			}
		}
	}
	&.has-status {
		th,td {
			&.status {
				display:table-cell;
			}
		}
	}
	.dashicons {
		&.error,
		&.warning,
		&.success {
			font-size:24px;
			width:auto;
			height:auto;
		}
		&.error {
			color:$wp-red;
		}
		&.warning {
			color:$wp-yellow;
		}
		&.success {
			color:$wp-green;
		}
	}
}
